h1{
	font-size: 20px;
	padding: 5px;
	text-align: center;
}

	input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input {
  padding:10px;
  border-radius:10px;
}
.form-control{
	width: 80%;
	border: 2px solid grey;
	padding: 2px;
	border-radius: 5px;
	margin-top: 5px;
	margin-left: 20px;
}
form{
	padding: 20px;
	
}
label{
	width: 100%;
	color: black;
	font-weight: bold;
		padding: 2px;
	
	margin-left: 20px;


}